# Ignorer les dépendances Node.js
node_modules/

# Ignorer les fichiers de build Angular
dist/

# Ignorer les fichiers temporaires d'Angular
.angular/

# Autres fichiers inutiles
.DS_Store
.env
.idea/
.vscode/
