<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Date -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let rdv"> {{ rdv.date }} </td>
    </ng-container>

    <!-- Heure -->
    <ng-container matColumnDef="heure">
      <th mat-header-cell *matHeaderCellDef> Heure </th>
      <td mat-cell *matCellDef="let rdv"> {{ rdv.heure }} </td>
    </ng-container>

    <!-- Statut -->
    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef> Statut </th>
      <td mat-cell *matCellDef="let rdv"> {{ rdv.statut }} </td>
    </ng-container>

    <!-- Type de Rendez-vous -->
    <ng-container matColumnDef="typeRendezVous">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let rdv"> {{ rdv.typeRendezVous }} </td>
    </ng-container>

    <!-- Nom du Patient -->
    <ng-container matColumnDef="NomPatient">
      <th mat-header-cell *matHeaderCellDef> Patient </th>
      <td mat-cell *matCellDef="let rdv"> {{ rdv.NomPatient }} </td>
    </ng-container>

    <!-- Nom du Médecin -->
    <ng-container matColumnDef="NomMedecin">
      <th mat-header-cell *matHeaderCellDef> Médecin </th>
      <td mat-cell *matCellDef="let rdv"> {{ rdv.NomMedecin }} </td>
    </ng-container>

<!-- Actions -->
<ng-container matColumnDef="Confirmation">
  <th mat-header-cell *matHeaderCellDef> Actions </th>
  <td mat-cell *matCellDef="let rdv">
    <button mat-button color="primary" (click)="confirmerRendezVous(rdv.idRDV)"
      *ngIf="rdv.statut?.trim().toLowerCase() === 'en attente'">
      Confirmer
    </button>
    <button mat-button color="warn" (click)="annulerRendezVous(rdv.idRDV)"
      *ngIf="rdv.statut?.trim().toLowerCase() === 'en attente'">
      Annuler
    </button>
  </td>
</ng-container>

    


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
