<div class="table-container">
  <table mat-table [dataSource]="patients" class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.email }} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Téléphone </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.phone }} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef> Date de Naissance </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.dateOfBirth }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Adresse </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.address }} </td>
    </ng-container>

    <!-- Colonne Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let patient" class="actions-cell">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goToDossierMedical(patient.id)">Afficher Dossier Médical</button>
          <button mat-menu-item (click)="goToRendezvous(patient.id)">Afficher Rendez-vous</button>
          <button mat-menu-item (click)="goToAjouterDossier(patient.id)">Ajouter Dossier Médical</button>
          <button mat-menu-item (click)="goToAjouterAnalyse(patient.id)">Ajouter Analyse</button>
          <button mat-menu-item (click)="goToAjouterRadio(patient.id)">Ajouter Radio</button>
        </mat-menu>
        
  </td>
  
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
