/* 🎨 Style général */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #1E1E2D;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  transition: width 0.3s ease-in-out;
}

/* 📌 Sidebar réduit */
.sidebar.collapsed {
  width: 80px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.logo img {
  width: 50px;
  margin-bottom: 10px;
}

.logo h2 {
  font-size: 18px;
  font-weight: bold;
  color:#267580;
}

/* 📌 Menu */
.menu {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu li {
  width: 88%;
  padding: 12px 15px;
  text-align: left;
  transition: background 0.3s ease;
}

.menu li:hover {
  background: #343A40;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 🚪 Bouton de déconnexion */
.logout {
  margin-top: auto;
  background: #267580;
}

.logout:hover {
  background: #1d5a67;
}

/* 📌 Icônes Material */
.mat-icon {
  font-size: 20px;
}

/* Cache le texte des éléments quand le sidebar est réduit */
.sidebar.collapsed .menu li a span {
  display: none;
}

/* Ajustement des icônes */
.sidebar.collapsed .menu li a mat-icon {
  margin-right: 0;
}

/* Bouton de minimisation */
.toggle-btn {
  position: absolute;
  top: 20px;
  left: 220px;
  background: #267580;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px #267580;
  transition: left 0.3s;
}

/* Ajuster la position du bouton quand le sidebar est réduit */
.sidebar.collapsed .toggle-btn {
  left: 50px;
}

/* Quand la sidebar est réduite */
.sidebar.collapsed .logout {
  background: transparent !important; /* Fond transparent */
}
